body {
  background-color: #828A95;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 5px;
}

h2 {
  font-weight: 300;
  letter-spacing: 2px;
  color: #CEEAF7;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 0;
}
